# EJERCICIOS PYTHON

En este archivo vamos a encontrar varios ejercicios para resolver, practicar e ir aprendiendo python!

Vamos a ir desde los más fáciles a los más difíciles... Comencemos!

## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
numero = 8
print('El numero es',numero)

El numero es 8

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre = 'Andres'

5) Mostrar el tipo de dato de la variable crada en el punto 4

In [8]:
print(type(nombre))

<class 'str'>

6) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1415

7) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
true_string = 'True'
true_bool = True

print('No se trata de lo mismo, mientras que "true_string" es una variable del tipo',type(true_string),'true_bool es una variable del tipo',type(true_bool))

No se trata de lo mismo, mientras que "true_string" es una variable del tipo <class 'str'> true_bool es una variable del tipo <class 'bool'>

8) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 7

In [13]:
print(type(true_bool))
print(type(true_string))

<class 'bool'>
<class 'str'>

9) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
variable_numeros_mixta = 5 + 1.5

10) Realizar una operación de suma de números complejos

In [18]:
complejo_uno = 0 +5j
complejo_dos = 5 -2j
suma_complejos = complejo_uno + complejo_dos
print('El primer numero complejo es:',complejo_uno,'; el segundo numero complejo es:',complejo_dos,'. La suma de ambos es: ',suma_complejos)

El primer numero complejo es: 5j ; el segundo numero complejo es: (5-2j) . La suma de ambos es:  (5+3j)

11) Realizar una operación de multiplicación

In [19]:
multiplicacion = 2 * 6
print(multiplicacion)

12

12) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
potencia_de_dos = 2 ** 8
print(potencia_de_dos)

256

13) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
cociente = 27 / 4
print(cociente)

6.75

14) De la división anterior solamente mostrar la parte entera

In [23]:
cociente_entero = 27 // 4
print(cociente_entero)

6

15) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
resto_division = 27 % 4
print(resto_division)

3

16) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 14 y 15. Obtener 27 como resultado

In [27]:
numero_veintisiete = cociente_entero * 4 + resto_division
print(numero_veintisiete)

27

17) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
var_alfa_uno = '#55'
var_alfa_dos = '22'
var_alfa_suma = var_alfa_uno + var_alfa_dos
print(var_alfa_suma)

#5522

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
2 == '2'
print('No son iguales porque uno es del tipo string y el otro es de tipo number')

No son iguales porque uno es del tipo string y el otro es de tipo number

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [35]:
print(str(2) == '2')
print(2 == int('2'))

print('en un caso se usa la funcion para convertir un string y en otro para convertir a un integer')

True
True
en un caso se usa la funcion para convertir un string y en otro para convertir a un integer

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [6]:
print('La funcion float no podra convertir el valor de a = 3,6 porque literalmente es un string, el signo "," que usamos en nuestra codificacion, \n para separar decimales no se usa a nivel internacional. Para separar decimales se usa el "."')
a = float('3,8')
print(a)

La funcion float no podra convertir el valor de a = 3,6 porque literalmente es un string, el signo "," que usamos en nuestra codificacion,
 para separar decimales no se usa a nivel internacional. Para separar decimales se usa el "."

ValueError: could not convert string to float: '3,8'

21) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [7]:
b = 3
b -= 1
print(b)

2

22) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [15]:
print(' 1. La ejecucion de este codigo dara un error porque estamos intentando sumar un numero con un string. Ver el typeError','\n', '2. Probar que pasaria si las dos variables fueran del mismo tipo')
variable_dos_number = 2
var_dos_string = '2'

print(variable_dos_number+var_dos_string)

 1. La ejecucion de este codigo dara un error porque estamos intentando sumar un numero con un string. Ver el typeError
 2. Probar que pasaria si las dos variables fueran del mismo tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

23) Realizar una operación válida entre valores de tipo entero y string

In [17]:
print('Hay algunas operaciones que son validas para hacer entre strings y numbers, por ejemplo: repeat')

multiplicador = 2
texto_a_multiplicar = 'Hola mundo! '

mensaje = multiplicador * texto_a_multiplicar

print(mensaje)

Hay algunas operaciones que son validas para hacer entre strings y numbers, por ejemplo: repeat
Hola mundo! Hola mundo!

## Flujos de Control

24) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla si es mayor o menor a cero

In [18]:
var_num_entero = 5

if var_num_entero > 0:
  print('la variable es mayor a 0')
elif var_num_entero < 0:
  print('La variable es menor a cero')
else:
  print('La variable es igual a cero')

la variable es mayor a 0

25) Crear dos variables y un condicional que informe si son del mismo tipo de dato

In [19]:
variable_uno = 'hola'
variable_dos = 25

if type(variable_uno) == type(variable_dos):
  print('Las variables son del mismo tipo')
else:
  print('Las variables no son del mismo tipo')

Las variables no son del mismo tipo

26) Para los valores enteros del 1 al 20, imprimir por pantalla si es par o impar

In [20]:
for numero in range(1,21):
  if numero%2 == 0:
    print('es par')
  else:
    print('es impar')

es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par

27) En un ciclo for mostrar para los valores entre 0 y 5 el resultado de elevarlo a la potencia igual a 3

In [23]:
for i in range(0,6):
  print('El numero:',i,'elevado a la 3era potencia es:',i ** 3)

El numero: 0 elevado a la 3era potencia es: 0
El numero: 1 elevado a la 3era potencia es: 1
El numero: 2 elevado a la 3era potencia es: 8
El numero: 3 elevado a la 3era potencia es: 27
El numero: 4 elevado a la 3era potencia es: 64
El numero: 5 elevado a la 3era potencia es: 125

28) Crear una variable que contenga un número entero y realizar un ciclo for la misma cantidad de ciclos

In [25]:
variable_con_un_numero_entero = 5
for i in range(0,variable_con_un_numero_entero):
  print('este es el ciclo numero:',i)

este es el ciclo numero: 0
este es el ciclo numero: 1
este es el ciclo numero: 2
este es el ciclo numero: 3
este es el ciclo numero: 4

29) Utilizar un ciclo while para realizar el factorial de un número guardado en una variable, sólo si la variable contiene un número entero mayor a 0

In [13]:
n = 6
if type(n) == int:
  if n > 0:
    numero = n
    factorial = 1
    i = 0
    while i < n:
      factorial = factorial * (i + 1)
      i += 1
    print('El factorial de',numero,'es',factorial)
  else:
    print('El numero',n,'no es positivo')
else:
  print('La variable',n,'no es un entero')

El factorial de 6 es 720

30) Crear un ciclo for dentro de un ciclo while

In [16]:
j = 1
while j < 5:
  print('este es el ciclo',j,'del while')
  for i in range(1,j+1):
    print('este el ciclo',i,'dentro del ciclo for')
  j += 1

este es el ciclo 1 del while
este el ciclo 1 dentro del ciclo for
este es el ciclo 2 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este es el ciclo 3 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este el ciclo 3 dentro del ciclo for
este es el ciclo 4 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este el ciclo 3 dentro del ciclo for
este el ciclo 4 dentro del ciclo for

31) Crear un ciclo while dentro de un ciclo for

In [19]:
k = 5
for i in range(1,k):
  print('este es el ciclo',i,'del ciclo for')
  k_temp = k
  while k_temp > 0:
    print('este el ciclo',k_temp,'dentro del ciclo while')
    k_temp -= 1

    if k_temp <= 0:
      break

este es el ciclo 1 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 2 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 3 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 4 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while

32) Imprimir los números primos existentes entre 0 y 30

In [22]:
# Recomiendo leer los comentarios de iteracion en iteracion
tope_rango = 30
n = 1
primo = True #concepto de "bandera", la variable primo es una bandera

while n < tope_rango:
  # PRIMER ITERACION: arranca inicialmente con n = 1 porque asi lo definimos inicialmente
  # SEGUNDA ITERACION: n = 2
  # TERCER ITERACION: n = 3
  # CUARTA ITERACION: n = 4
  for i in range(2,n): # PRIMER ITERACION: range toma el rango entre 2 y 1 => no entra en el for
                       # SEGUNDA ITERACION: range toma el rango entre 2 y 2 => no entra al ciclo for
                       # TERCER ITERACION: range toma el rango entre 2 y 3 OJO! que range NO CONTIENE, NO INCLUYE al nro final => no entra al for
                       # CUARTA ITERACION: range entre 2 y 4 => i podra tomar el valor 2 y 3
    if n % i == 0: # CUARTA ITERACION: n = 4 => para i = 2 => n % i (4 % 2) es igual a 0, entra al if
                   # CUARTA ITERACION: n = 4 => para i = 3 => n % i (4 % 3) NO es igual a 0, no entra al if, pero la bandera ya quedo seteada en False de la iteracion anterior
      primo = False # CUARTA ITERACION: valor if seteado en False
  if primo: # PRIMER ITERACION: como la bandera arranca en True, entra al if e imprime el numero 1
            # SEGUNDA ITERACION: la bandera continua en True, entra al if e imprime el numero 2
            # TERCER ITERACION: la bandera continua en True, entra al if e imprime el numero 3
            # CUARTA ITERACION: en esta iteracion no se entra al if porque la condicion es falsa, continua al else
    print(n)
  else: # CUARTA ITERACION: el algoritmo continua aqui porque no puedo entrar en la condicion True
    primo = True
  n += 1 # PRIMER ITERACION: entra con n = 1 entonces actualiza el valor y cambia n = 1 por n = 2
         # SEGUNDA ITERACION: n = 2 entonces actualiza el valor y cambia n = 2 por n = 3
         # TERCER ITERACION: n = 3, entonces actualiza el valor y cambia n = 3 por n = 4
         # CUARTA ITERACION: n = 4, entonces actualiza el valor y cambia n = 4 por n = 5

1
2
3
5
7
11
13
17
19
23
29

33) ¿Se puede mejorar el proceso del punto 32? Utilizar las sentencias break y/ó continue para tal fin

In [23]:
n=1
tope_rango = 30
primo = True
while (n < tope_rango):
    for i in range(2,n):
        if(n % i == 0):
            primo = False
            break # ya si encuentro 1 numero que me cambie la bandera no se cumple la definicion de primo, puedo interrumpir el proceso
    if(primo):
        print(n)
    else:
        primo=True
    n += 1

1
2
3
5
7
11
13
17
19
23
29

34) Aplicando continue, armar un ciclo while que solo imprima los valores divisibles por 12, dentro del rango de números de 100 a 300

In [26]:
valor_inicial = 99
valor_final = 300

while valor_inicial < valor_final:
  valor_inicial += 1 # aqui el valor a verificar si es multiplo de 12 es 100
  if valor_inicial % 12 != 0: # hay muchos valores que no seran multiplos de 12, entonces se entrara al if con frecuencia y se ejecutara 
                              # el "continue"
    continue # va a hacer que el algoritmo "se salte" el print
  print(valor_inicial)

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

35) Crear un ciclo while que encuentre dentro del rango de 100 a 300 el primer número divisible por 3 y además múltiplo de 6

In [34]:
# Regla matematica: para que un numero sea divisible en 6 debe serlo en 2 y 3 => un numero divisible en 6 tambien sera divible en 3
# Los siguientes comentarios son MUY nerds, pero pueden interesarte:
# Logica propocicional:
# Definir proposiciones:
#   P: "Un número es divisible por 6."
#   Q: "Un número es divisible por 2."
#   R: "Un número es divisible por 3."
#
#   (P ⇒ (Q ∧ R)) ⇒ (P ⇒ R)
#   por ley de la lógica proposicional: "Simplificación"
#   P ⇒ R

valor_inicial = 100
valor_final = 300

while valor_inicial < valor_final:
  if valor_inicial % 6 == 0:
    print(valor_inicial)
    break # como el enunciado pide el primero, listo, encuentro el primero y break
  valor_inicial += 1
print('102 / 3 = 34')
print('102 / 6 = 17')

102
102 / 3 = 34
102 / 6 = 17

## Estructuras de Datos

36. Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [67]:
lista_ciudades = ['Londres', 'Madrid', 'Berlin', 'Paris', 'Monaco','Sidney']
print(lista_ciudades)

['Londres', 'Madrid', 'Berlin', 'Paris', 'Monaco', 'Sidney']

37. Imprimir por pantalla el segundo elemento de la lista

In [38]:
segunda_ciudad = lista_ciudades[1]
print(segunda_ciudad)

Madrid

38. Imprimir por pantalla del segundo al cuarto elemento

In [41]:
porcion_lista_ciudades = lista_ciudades[1:4]
print(porcion_lista_ciudades)

['Madrid', 'Berlin', 'Paris']

39. Visualizar el tipo de dato de la lista

In [43]:
print(type(lista_ciudades))

<class 'list'>

40. Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [44]:
print(lista_ciudades[2:])

['Berlin', 'Paris', 'Monaco', 'Sidney']

41. Visualizar los primeros 4 elementos de la lista

In [46]:
print(lista_ciudades[:4])

['Londres', 'Madrid', 'Berlin', 'Paris']

42. Agregar dos ciudades más a la lista, una que ya exista y otra que no ¿Arroja algún tipo de error?

In [50]:
lista_ciudades.append('Monterrey')
lista_ciudades.append('Paris')
print(lista_ciudades)
print('no arroja ningun error porque dentro de una lista pueden existir valores repetidos')

['Londres', 'Madrid', 'Berlin', 'Paris', 'Monaco', 'Sidney', 'Monterrey', 'Paris']
no arroja ningun error porque dentro de una lista pueden existir valores repetidos

43. Agregar otra ciudad, pero en la cuarta posición

In [51]:
lista_ciudades.insert(3,'Stocolmo')
print(lista_ciudades)

['Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Paris', 'Monaco', 'Sidney', 'Monterrey', 'Paris']

44. Concatenar otra lista a la ya creada

In [52]:
lista_ciudades_a_concatenar = ['Buenos Aires','Lima','Amsterdam']
lista_ciudades.extend(lista_ciudades_a_concatenar)
print(lista_ciudades)

['Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Paris', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Buenos Aires', 'Lima', 'Amsterdam']

45. Encontrar el índice de la ciudad que en el punto 42 agregamos duplicada. ¿Se nota alguna particularidad?

In [54]:
print(lista_ciudades.index('Paris'))
print('devuelve el indice de la primer coincidencia, no de las posteriores')

4
devuelve el indice de la primer coincidencia, no de las posteriores

46. ¿Qué pasa si se busca un elemento que no existe?

In [55]:
print(lista_ciudades.index('Salta'))

ValueError: 'Salta' is not in list

47. Eliminar un elemento de la lista

In [56]:
# Eliminamos el elemento repetido
lista_ciudades.pop(lista_ciudades.index('Paris'))
print(lista_ciudades)

['Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Buenos Aires', 'Lima', 'Amsterdam']

In [58]:
# Eliminamos un elemento determinado
lista_ciudades.remove('Buenos Aires')
print(lista_ciudades)

['Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Lima', 'Amsterdam']

48. ¿Qué pasa si el elemento a eliminar no existe?

In [57]:
# Eliminamos un indice que no existe
lista_ciudades.pop(100)

IndexError: pop index out of range

In [59]:
# Eliminamos una ciudad que no existe
lista_ciudades.remove('Cordoba')

ValueError: list.remove(x): x not in list

49. Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [60]:
ultimo_elemento = lista_ciudades.pop() # si al metodo pop no le pasamos parametros elimina el ultimo elemento
print(ultimo_elemento)

Amsterdam

50. Mostrar la lista multiplicada por 4 (operaciones con listas)

In [61]:
print(lista_ciudades*4)

['Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Lima', 'Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Lima', 'Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Lima', 'Londres', 'Madrid', 'Berlin', 'Stocolmo', 'Monaco', 'Sidney', 'Monterrey', 'Paris', 'Lima']

51. Crear una tupla que contenga los números enteros del 1 al 20

In [62]:
# Hay dos formas de hacerlo
tupla_uno = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
tupla_dos = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

print(type(tupla_uno))
print(tupla_uno)

print(type(tupla_dos))
print(tupla_dos)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

52. Imprimir desde el índice 10 al 15 de la tupla

In [64]:
print(tupla_uno[10:16])

(11, 12, 13, 14, 15, 16)

53. Evaluar si los números 20 y 30 están dentro de la tupla

In [65]:
print(20 in tupla_uno)
print(30 in tupla_uno)

True
False

54. Con la lista creada en el punto 36, validar la existencia del elemento 'Persia' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.
Trata de ejecutar el codigo nuevamente. Se agrega de nuevo la ciudad?

In [69]:
# restablecer el valor de lo lista creada al inicio
ciudad_a_comprobar = 'Persia'
if not ciudad_a_comprobar in lista_ciudades:
  lista_ciudades.append(ciudad_a_comprobar)
  print('Se inserto la ciudad',ciudad_a_comprobar)
else:
  print('La ciudad ya existia en el listado')

La ciudad ya existia en el listado

55. Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla creada en el punto 51 y de la lista de ciudades creada en el punto 36

In [71]:
print(lista_ciudades.count('Madrid'))
print(tupla_uno.count(15))

1
1

56. Convertir la tupla en una lista

In [73]:
lista_de_numeros_convertida_desde_una_tupla = list(tupla_uno)
print(lista_de_numeros_convertida_desde_una_tupla)
print(type(lista_de_numeros_convertida_desde_una_tupla))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

57. Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [75]:
var_uno, var_dos, var_tres = tupla_uno[:3]
print(var_uno,var_dos,var_tres)

1 2 3

58. Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [77]:
dicc = {
  'ciudades': lista_ciudades,
  'pais': ['Inglaterra','Espania','Alemania','Francia','Francia','Australia','N/A'],
  'continente': ['Europa','Europa','Europa','Europa','Europa','Oceania','N/A']
}
print(dicc)

{'ciudades': ['Londres', 'Madrid', 'Berlin', 'Paris', 'Monaco', 'Sidney', 'Persia'], 'pais': ['Inglaterra', 'Espania', 'Alemania', 'Francia', 'Francia', 'Australia', 'N/A'], 'continente': ['Europa', 'Europa', 'Europa', 'Europa', 'Europa', 'Oceania', 'N/A']}

59. Imprimir las claves del diccionario

In [78]:
print(dicc.keys())

dict_keys(['ciudades', 'pais', 'continente'])

60. Imprimir las ciudades a través de su clave

In [79]:
print(dicc['ciudades'])

['Londres', 'Madrid', 'Berlin', 'Paris', 'Monaco', 'Sidney', 'Persia']

## Iteradores e iterables

61. A partir de una lista vacía, utilizar un ciclo while para cargar allí números negativos del -15 al -1

In [82]:
lista_numeros_negativos = []
i = -15
while len(lista_numeros_negativos) < 15:
  lista_numeros_negativos.append(i)
  i += 1

print(lista_numeros_negativos)

[-15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

62. ¿Con un ciclo while sería posible recorrer la lista para imprimir sólo los números pares?

In [86]:
i = 0
while i < len(lista_numeros_negativos):
  if lista_numeros_negativos[i] % 2 == 0:
    print(lista_numeros_negativos[i])
  i += 1

-14
-12
-10
-8
-6
-4
-2

63. Resolver el punto anterior sin utilizar un ciclo while (utilizando un ciclo for)

In [89]:
for numero in range(-15,0):
  if numero % 2 == 0:
    print(numero)

-14
-12
-10
-8
-6
-4
-2

64. Utilizar el iterable para recorrer sólo los primeros 3 elementos

In [90]:
for numero in lista_numeros_negativos[:3]:
  print(numero)

-15
-14
-13

65. Utilizar la función **enumerate** para obtener dentro del iterable, tambien el índice al que corresponde el elemento

In [92]:
for elemento in enumerate(lista_numeros_negativos):
  print( elemento)

(0, -15)
(1, -14)
(2, -13)
(3, -12)
(4, -11)
(5, -10)
(6, -9)
(7, -8)
(8, -7)
(9, -6)
(10, -5)
(11, -4)
(12, -3)
(13, -2)
(14, -1)

66. Dada la siguiente lista de números enteros entre 1 y 20, crear un ciclo donde se completen los valores faltantes: lista = [1,2,5,7,8,10,13,14,15,17,20]

67. La sucesión de Fibonacci es un listado de números que sigue la fórmula: <br>
n<sub>0</sub> = 0<br>
n<sub>1</sub> = 1<br>
n<sub>i</sub> = n<sub>i-1</sub> + n<sub>i-2</sub><br>
Crear una lista con los primeros treinta números de la sucesión.<br>

68. Realizar la suma de todos elementos de la lista del punto anterior

69. A partir de la variable cadena ya dada, mostrar en qué posiciones aparece la letra "n"<br>
cadena = 'Hola Mundo. Esto es una practica del lenguaje de programación Python'

70. Crear un diccionario e imprimir sus claves utilizando un iterador

71. Convertir en una lista la variable "cadena" del punto 10 y luego recorrerla con un iterador

72. Crear dos listas y unirlas en una tupla utilizando la función zip

73. A partir de la siguiente lista de números, crear una nueva sólo si el número es divisible por 7<br>
lis = [18,21,29,32,35,42,56,60,63,71,84,90,91,100]

74. A partir de la lista de a continuación, contar la cantidad total de elementos que contiene, teniendo en cuenta que un elemento de la lista podría ser otra lista:<br>
lis = [[1,2,3,4],'rojo','verde',[True,False,False],['uno','dos','tres']]

75. Tomar la lista del punto anterior y convertir cada elemento en una lista si no lo es

#### Exercise 1
You will build a program that takes a value, integer , and returns a list of its multiples up to another value, limit . If limit is a multiple of integer, it should be included as well. There will only ever be positive integers passed into the function, not consisting of 0. The limit will always be higher than the base.

For example, if the parameters passed are (2, 6), the function should return [2, 4, 6] as 2, 4, and 6 are the multiples of 2 up to 6.

In [2]:
def find_multiples(integer, limit):
    list = []
    for numero in range(1,limit+1):
        if numero % integer == 0:
            list.append(numero)
    return list

In [3]:
find_multiples(5, 25)

[5, 10, 15, 20, 25]