# EJERCICIOS PYTHON

En este archivo vamos a encontrar varios ejercicios para resolver, practicar e ir aprendiendo python!

Vamos a ir desde los más fáciles a los más difíciles... Comencemos!

## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
numero = 8
print('El numero es',numero)

El numero es 8

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre = 'Andres'

5) Mostrar el tipo de dato de la variable crada en el punto 4

In [8]:
print(type(nombre))

<class 'str'>

6) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1415

7) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
true_string = 'True'
true_bool = True

print('No se trata de lo mismo, mientras que "true_string" es una variable del tipo',type(true_string),'true_bool es una variable del tipo',type(true_bool))

No se trata de lo mismo, mientras que "true_string" es una variable del tipo <class 'str'> true_bool es una variable del tipo <class 'bool'>

8) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 7

In [13]:
print(type(true_bool))
print(type(true_string))

<class 'bool'>
<class 'str'>

9) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
variable_numeros_mixta = 5 + 1.5

10) Realizar una operación de suma de números complejos

In [18]:
complejo_uno = 0 +5j
complejo_dos = 5 -2j
suma_complejos = complejo_uno + complejo_dos
print('El primer numero complejo es:',complejo_uno,'; el segundo numero complejo es:',complejo_dos,'. La suma de ambos es: ',suma_complejos)

El primer numero complejo es: 5j ; el segundo numero complejo es: (5-2j) . La suma de ambos es:  (5+3j)

11) Realizar una operación de multiplicación

In [19]:
multiplicacion = 2 * 6
print(multiplicacion)

12

12) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
potencia_de_dos = 2 ** 8
print(potencia_de_dos)

256

13) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
cociente = 27 / 4
print(cociente)

6.75

14) De la división anterior solamente mostrar la parte entera

In [23]:
cociente_entero = 27 // 4
print(cociente_entero)

6

15) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
resto_division = 27 % 4
print(resto_division)

3

16) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 14 y 15. Obtener 27 como resultado

In [27]:
numero_veintisiete = cociente_entero * 4 + resto_division
print(numero_veintisiete)

27

17) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
var_alfa_uno = '#55'
var_alfa_dos = '22'
var_alfa_suma = var_alfa_uno + var_alfa_dos
print(var_alfa_suma)

#5522

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
2 == '2'
print('No son iguales porque uno es del tipo string y el otro es de tipo number')

No son iguales porque uno es del tipo string y el otro es de tipo number

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [35]:
print(str(2) == '2')
print(2 == int('2'))

print('en un caso se usa la funcion para convertir un string y en otro para convertir a un integer')

True
True
en un caso se usa la funcion para convertir un string y en otro para convertir a un integer

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [6]:
print('La funcion float no podra convertir el valor de a = 3,6 porque literalmente es un string, el signo "," que usamos en nuestra codificacion, \n para separar decimales no se usa a nivel internacional. Para separar decimales se usa el "."')
a = float('3,8')
print(a)

La funcion float no podra convertir el valor de a = 3,6 porque literalmente es un string, el signo "," que usamos en nuestra codificacion,
 para separar decimales no se usa a nivel internacional. Para separar decimales se usa el "."

ValueError: could not convert string to float: '3,8'

21) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [7]:
b = 3
b -= 1
print(b)

2

22) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [15]:
print(' 1. La ejecucion de este codigo dara un error porque estamos intentando sumar un numero con un string. Ver el typeError','\n', '2. Probar que pasaria si las dos variables fueran del mismo tipo')
variable_dos_number = 2
var_dos_string = '2'

print(variable_dos_number+var_dos_string)

 1. La ejecucion de este codigo dara un error porque estamos intentando sumar un numero con un string. Ver el typeError
 2. Probar que pasaria si las dos variables fueran del mismo tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

23) Realizar una operación válida entre valores de tipo entero y string

In [17]:
print('Hay algunas operaciones que son validas para hacer entre strings y numbers, por ejemplo: repeat')

multiplicador = 2
texto_a_multiplicar = 'Hola mundo! '

mensaje = multiplicador * texto_a_multiplicar

print(mensaje)

Hay algunas operaciones que son validas para hacer entre strings y numbers, por ejemplo: repeat
Hola mundo! Hola mundo!

## Flujos de Control

24) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla si es mayor o menor a cero

In [18]:
var_num_entero = 5

if var_num_entero > 0:
  print('la variable es mayor a 0')
elif var_num_entero < 0:
  print('La variable es menor a cero')
else:
  print('La variable es igual a cero')

la variable es mayor a 0

25) Crear dos variables y un condicional que informe si son del mismo tipo de dato

In [19]:
variable_uno = 'hola'
variable_dos = 25

if type(variable_uno) == type(variable_dos):
  print('Las variables son del mismo tipo')
else:
  print('Las variables no son del mismo tipo')

Las variables no son del mismo tipo

26) Para los valores enteros del 1 al 20, imprimir por pantalla si es par o impar

In [20]:
for numero in range(1,21):
  if numero%2 == 0:
    print('es par')
  else:
    print('es impar')

es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par
es impar
es par

27) En un ciclo for mostrar para los valores entre 0 y 5 el resultado de elevarlo a la potencia igual a 3

In [23]:
for i in range(0,6):
  print('El numero:',i,'elevado a la 3era potencia es:',i ** 3)

El numero: 0 elevado a la 3era potencia es: 0
El numero: 1 elevado a la 3era potencia es: 1
El numero: 2 elevado a la 3era potencia es: 8
El numero: 3 elevado a la 3era potencia es: 27
El numero: 4 elevado a la 3era potencia es: 64
El numero: 5 elevado a la 3era potencia es: 125

28) Crear una variable que contenga un número entero y realizar un ciclo for la misma cantidad de ciclos

In [25]:
variable_con_un_numero_entero = 5
for i in range(0,variable_con_un_numero_entero):
  print('este es el ciclo numero:',i)

este es el ciclo numero: 0
este es el ciclo numero: 1
este es el ciclo numero: 2
este es el ciclo numero: 3
este es el ciclo numero: 4

29) Utilizar un ciclo while para realizar el factorial de un número guardado en una variable, sólo si la variable contiene un número entero mayor a 0

In [13]:
n = 6
if type(n) == int:
  if n > 0:
    numero = n
    factorial = 1
    i = 0
    while i < n:
      factorial = factorial * (i + 1)
      i += 1
    print('El factorial de',numero,'es',factorial)
  else:
    print('El numero',n,'no es positivo')
else:
  print('La variable',n,'no es un entero')

El factorial de 6 es 720

30) Crear un ciclo for dentro de un ciclo while

In [16]:
j = 1
while j < 5:
  print('este es el ciclo',j,'del while')
  for i in range(1,j+1):
    print('este el ciclo',i,'dentro del ciclo for')
  j += 1

este es el ciclo 1 del while
este el ciclo 1 dentro del ciclo for
este es el ciclo 2 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este es el ciclo 3 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este el ciclo 3 dentro del ciclo for
este es el ciclo 4 del while
este el ciclo 1 dentro del ciclo for
este el ciclo 2 dentro del ciclo for
este el ciclo 3 dentro del ciclo for
este el ciclo 4 dentro del ciclo for

31) Crear un ciclo while dentro de un ciclo for

In [19]:
k = 5
for i in range(1,k):
  print('este es el ciclo',i,'del ciclo for')
  k_temp = k
  while k_temp > 0:
    print('este el ciclo',k_temp,'dentro del ciclo while')
    k_temp -= 1

    if k_temp <= 0:
      break

este es el ciclo 1 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 2 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 3 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while
este es el ciclo 4 del ciclo for
este el ciclo 5 dentro del ciclo while
este el ciclo 4 dentro del ciclo while
este el ciclo 3 dentro del ciclo while
este el ciclo 2 dentro del ciclo while
este el ciclo 1 dentro del ciclo while

32) Imprimir los números primos existentes entre 0 y 30

In [22]:
# Recomiendo leer los comentarios de iteracion en iteracion
tope_rango = 30
n = 1
primo = True #concepto de "bandera", la variable primo es una bandera

while n < tope_rango:
  # PRIMER ITERACION: arranca inicialmente con n = 1 porque asi lo definimos inicialmente
  # SEGUNDA ITERACION: n = 2
  # TERCER ITERACION: n = 3
  # CUARTA ITERACION: n = 4
  for i in range(2,n): # PRIMER ITERACION: range toma el rango entre 2 y 1 => no entra en el for
                       # SEGUNDA ITERACION: range toma el rango entre 2 y 2 => no entra al ciclo for
                       # TERCER ITERACION: range toma el rango entre 2 y 3 OJO! que range NO CONTIENE, NO INCLUYE al nro final => no entra al for
                       # CUARTA ITERACION: range entre 2 y 4 => i podra tomar el valor 2 y 3
    if n % i == 0: # CUARTA ITERACION: n = 4 => para i = 2 => n % i (4 % 2) es igual a 0, entra al if
                   # CUARTA ITERACION: n = 4 => para i = 3 => n % i (4 % 3) NO es igual a 0, no entra al if, pero la bandera ya quedo seteada en False de la iteracion anterior
      primo = False # CUARTA ITERACION: valor if seteado en False
  if primo: # PRIMER ITERACION: como la bandera arranca en True, entra al if e imprime el numero 1
            # SEGUNDA ITERACION: la bandera continua en True, entra al if e imprime el numero 2
            # TERCER ITERACION: la bandera continua en True, entra al if e imprime el numero 3
            # CUARTA ITERACION: en esta iteracion no se entra al if porque la condicion es falsa, continua al else
    print(n)
  else: # CUARTA ITERACION: el algoritmo continua aqui porque no puedo entrar en la condicion True
    primo = True
  n += 1 # PRIMER ITERACION: entra con n = 1 entonces actualiza el valor y cambia n = 1 por n = 2
         # SEGUNDA ITERACION: n = 2 entonces actualiza el valor y cambia n = 2 por n = 3
         # TERCER ITERACION: n = 3, entonces actualiza el valor y cambia n = 3 por n = 4
         # CUARTA ITERACION: n = 4, entonces actualiza el valor y cambia n = 4 por n = 5

1
2
3
5
7
11
13
17
19
23
29

33) ¿Se puede mejorar el proceso del punto 32? Utilizar las sentencias break y/ó continue para tal fin

In [23]:
n=1
tope_rango = 30
primo = True
while (n < tope_rango):
    for i in range(2,n):
        if(n % i == 0):
            primo = False
            break # ya si encuentro 1 numero que me cambie la bandera no se cumple la definicion de primo, puedo interrumpir el proceso
    if(primo):
        print(n)
    else:
        primo=True
    n += 1

1
2
3
5
7
11
13
17
19
23
29

34) Aplicando continue, armar un ciclo while que solo imprima los valores divisibles por 12, dentro del rango de números de 100 a 300

In [26]:
valor_inicial = 99
valor_final = 300

while valor_inicial < valor_final:
  valor_inicial += 1 # aqui el valor a verificar si es multiplo de 12 es 100
  if valor_inicial % 12 != 0: # hay muchos valores que no seran multiplos de 12, entonces se entrara al if con frecuencia y se ejecutara 
                              # el "continue"
    continue # va a hacer que el algoritmo "se salte" el print
  print(valor_inicial)

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

35) Crear un ciclo while que encuentre dentro del rango de 100 a 300 el primer número divisible por 3 y además múltiplo de 6

In [34]:
# Regla matematica: para que un numero sea divisible en 6 debe serlo en 2 y 3 => un numero divisible en 6 tambien sera divible en 3
# Los siguientes comentarios son MUY nerds, pero pueden interesarte:
# Logica propocicional:
# Definir proposiciones:
#   P: "Un número es divisible por 6."
#   Q: "Un número es divisible por 2."
#   R: "Un número es divisible por 3."
#
#   (P ⇒ (Q ∧ R)) ⇒ (P ⇒ R)
#   por ley de la lógica proposicional: "Simplificación"
#   P ⇒ R

valor_inicial = 100
valor_final = 300

while valor_inicial < valor_final:
  if valor_inicial % 6 == 0:
    print(valor_inicial)
    break # como el enunciado pide el primero, listo, encuentro el primero y break
  valor_inicial += 1
print('102 / 3 = 34')
print('102 / 6 = 17')

102
102 / 3 = 34
102 / 6 = 17

#### Exercise 1
You will build a program that takes a value, integer , and returns a list of its multiples up to another value, limit . If limit is a multiple of integer, it should be included as well. There will only ever be positive integers passed into the function, not consisting of 0. The limit will always be higher than the base.

For example, if the parameters passed are (2, 6), the function should return [2, 4, 6] as 2, 4, and 6 are the multiples of 2 up to 6.

In [2]:
def find_multiples(integer, limit):
    list = []
    for numero in range(1,limit+1):
        if numero % integer == 0:
            list.append(numero)
    return list

In [3]:
find_multiples(5, 25)

[5, 10, 15, 20, 25]